<% include header %>
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="circle border">
        <div class="circle spinner"></div> 
        <div class="play circle"></div>
      </div>
    </div>
  </div>
</div>
  <div class="container-fluid">
    <div class="row">
      <div class="span10">
        <%= new Date() %>
        <div id="test">
          <% if(typeof(music) != "undefined"){ %>
            <% include ../music/index %>
          <% } else { %>
            <% include ../home/index %>
          <% } %>
        </div>
        <br />
        <div>
          So far this is a simple Node Js app using:
          <ul>
            <li>Node js</li>
            <li>Express (Node js framework similar to sinatra in theory)</li>
            <li>
              Pjax 
              <ul>
                <li>if you notice the datetime above clicking on the links will not change the time,
                    but if you disable js you will see the time change on every click
                </li>
              </ul>
            </li>
            <li>Express-Pjax</li>
            <li>ejs (embedded javascript)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% include footer %>